


body{
    display: flex;margin: 0; transition: background 0.9s linear;color: 0.4s linear;
}


.toggle-container{position: fixed;top: 20px;right: 20px;}
body.dark{background-color: black;}
body.dark label{background-color: #fff;}

label{background-color: black; width: 50px;height: 50px;display: inline-block;border-radius: 50%;}
input{visibility: hidden;}



























/* 
body{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    padding: 5rem;
    transition: background 0.9s linear,
    color 0.4s linear;
}


.toggle-container{
    position: fixed;
    top: 10px;
    right: 10px;
}



body.dark{
    background-color: #1f1f1f;
    color: white;

}

body.dark label{
    background-color: #fff;
}


label{
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    user-select: none;
    transition: background 0.4s linear;
}



input{visibility: hidden;} */